body {
    background-color: #FFFF;
    font-family: 'Times New Roman', Times, serif;
    color: #53045bb1;
    margin: 0;
    padding: 0;
}

.quiz-container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid rgba(74, 6, 76, 0.542);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(80, 18, 79, 0.304);
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.question label {
    font-size: 1em;
    display: block;
    margin: 5px 0;
}
